body {
  padding-top: 70px;
}

#preview-panel div:first-of-type {
  float: none !important;
  overflow: hidden;
}

#preview-panel.ctrl-pressed:hover {
  cursor: pointer;
}

#preview-panel span,
#udl-panel span,
.panel-title span {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.panel-heading {
  cursor: pointer;
}
.panel-heading:hover a {
  text-decoration: underline;
}

#udl-panel pre {
  background: inherit;
  border: 0px;
  margin: 0px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.panel-title span {
  padding-top: .2em;
  color: #bbb;
}

#settings-panel .form-group {
  margin-bottom: 10px;
}

#settings-panel .tab-content {
  padding-top: 1em;
}

#settings-panel .sc {
  text-transform: uppercase;
  /*font-family: monospace;
  font-weight: bold;*/
}

/*hide alpha slider*/
.cp-hsvpanel-a {
  display: none !important;
}
.cp-container {
  /*width: 170px !important;*/
  width: 204px !important;
}

